<div class="w-full">
    <div class="">
        <span class="text-xl font-semibold ">Add Coupons</span>
        
    </div>
    <div class="bg-white w-3/5 p-6 rounded-sm mt-3">
        <form action="">
            <label class="block my-2 text-[#00000080]" for="">Title</label>
            <input class="border rounded-md p-2 w-full" type="text">
            <label class="block my-2 text-[#00000080]" for="">Description</label>
            <textarea class="border rounded-md p-2 w-full h-44" type="text"></textarea>
            
            <!-- code & offer -->
            <div class="w-full flex gap-5">
                <div class="w-full">
                    <label class="block my-2 text-[#00000080]" for="">Code</label>
                    <input class="border rounded-md p-2 w-full" type="text">
                    
                </div>
                <div class="w-full">
                    <label class="block my-2 text-[#00000080]" for="">Offer %</label>
                    <input class="border rounded-md p-2 w-full" type="number">
                </div>
                
            </div>
            <!--stock status & quantity -->
            <div class="w-full flex gap-5">
                <div class="w-full">
                    <label class="block my-2 text-[#00000080]" for="">Expiry Date</label>
                    <input class="border rounded-md p-3 text-gray-500 w-full" type="date">
                    
                </div>
                <div class="w-full">
                    <label class="block my-2 text-[#00000080]" for="">Limit</label>
                    <input class="border rounded-md p-2 w-full" type="number">
                </div>
                
            </div>
            <div class="flex justify-end mt-6">
                <button class="rounded-md bg-blue-500 text-white text-sm p-3 w-1/2">
                    Add Coupon
                </button>
            </div>
            
        </form>
    </div>
    
        
        
    
</div>