<div class="w-full">
    <div class="">
        <span class="text-3xl font-semibold ">Banners</span>
        <span class="text-xs ml-6 text-[#00000080]">12 banners found</span>
    </div>
    <div class="flex gap-8 justify-end mb-2">
        
        
        <div class="flex">
            <div class="rounded-md bg-transparent border-gray-200 border-2 flex">
                <input class="bg-transparent pl-10 outline-none w-96" type="text" placeholder="Search Banners...">
                <div class="bg-[#1a91ff] flex justify-center items-center p-2 ">
                    <span class="material-symbols-outlined text-white">search</span>
                </div>
            </div>
        </div>
        
    </div>
    <!-- table -->
    <table class="w-full border-separate border-spacing-y-3" >
        <tr class="text-left border-b-2 ">
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mr-2">
                <span class="">#</span>
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300 ">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Title</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Start Date</span>
                    <button class="material-symbols-outlined text-xl text-black">
                            unfold_more
                    </button>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span>End Date</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
               
            </th>
            
            
            <th class="text-[#00000070] border-b-[1px] border-slate-300 ">
                <div class="flex justify-between items-center mx-2">
                    <span class="mr-2">Status</span>
                </div>
                
            </th>
            
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mx-2">Action</th>
        </tr>
        
        <tr class="border-b-2 border-spacing-2 ">
            <td class="text-[#00000070] border-b-[1px] border-slate-300 mx-2 w-10">1</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 mx-2 ">
                <div class="flex h-10 items-center">
                    <img class="h-8 inline" src="/images/iphone.png" alt="img">
                    <span class=" block">Electric Components</span>
                </div>
                
                
            </td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">12/12/2023</td>
            
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 w-28">12/12/2023</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 w-28">
                <div class="rounded-full bg-green-200 p-[2px] flex justify-center items-center">
                    <span class="text-green-500 text-sm">30 days left</span>
                </div>
            </td>
            
            
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">
                <div class="flex">
                    <button class="material-symbols-outlined text-[#1a91ff] mr-1">
                        edit
                    </button><button class="material-symbols-outlined text-red-500">
                        delete
                    </button>
                </div>
                
            </td>
        </tr>
        
        
    </table>
    
</div>