<div class="w-full">
    <div class="">
        <span class="text-3xl font-semibold ">Coupons</span>
        <span class="text-xs ml-6 text-[#00000080]">12 coupons found</span>
    </div>
    <div class="flex gap-8 justify-end mb-2">
        
        
        <div class="flex">
            <select name="All Categories" id="" class="rounded-md bg-transparent p-2 pl-6 border-gray-200 border-y-2 border-l-2 mr-[-10px]">
                <option class="" value="All Categories">Title</option>
            </select>
            <div class="rounded-md bg-transparent border-gray-200 border-y-2 border-r-2 flex">
                <input class="bg-transparent pl-10 outline-none w-96" type="text" placeholder="Search...">
                <div class="bg-[#1a91ff] flex justify-center items-center p-2 ">
                    <span class="material-symbols-outlined text-white">search</span>
                </div>
            </div>
        </div>
        
    </div>
    <!-- table -->
    <table class="w-full border-separate border-spacing-y-3" >
        <tr class="text-left border-b-2 ">
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mr-2">
                <span class="">#</span>
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300 ">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Code</span>
                
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300 ">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Title</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span class="">Description</span>
                </div>
                
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span>Offer %</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
               
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span>Limit</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
               
            </th>
            <th class="text-[#00000070] border-b-[1px] border-slate-300">
                <div class="flex justify-between items-center mx-2">
                    <span>Expiry Date</span>
                    <button class="material-symbols-outlined text-xl text-black">
                        unfold_more
                    </button>
                </div>
               
            </th>
            
            
            <th class="text-[#00000070] border-b-[1px] border-slate-300 mx-2">Action</th>
        </tr>
        
        <tr class="border-b-2 border-spacing-2 ">
            <td class="text-[#00000070] border-b-[1px] border-slate-300 mx-2 w-10">1</td>
            
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">OFFER50</td>
            
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 ">50% Offer</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 ">offer on new products</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 ">50%</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 ">5</td>
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2 ">12/12/2023</td>
            
            
            
            <td class="text-[#00000070] border-b-[1px] border-slate-300 px-2">
                <div class="flex">
                    <button class="material-symbols-outlined text-[#1a91ff] mr-1">
                        edit
                    </button><button class="material-symbols-outlined text-red-500">
                        delete
                    </button>
                </div>
                
            </td>
        </tr>
        
        
    </table>
    
</div>