<div id="editproduct" class="transition ease-out duration-3000 w-full justify-center items-center hidden fixed inset-0 z-50 bg-[rgba(0,0,0,0.2)]">
    <div class="w-full ">
        <div class="w-full flex justify-center items-center ">
            
            <div class="bg-white w-9/12 p-6 rounded-sm mt-3 overflow-scroll h-[600px] relative">
                <div class="border-b-2 pb-2 w-max">
                    <span class="text-xl font-semibold ">Edit Product</span>
                    
                </div>
                <form action="/admin/editproduct" method="post" enctype="multipart/form-data">
                    
                    <div class="flex w-full gap-4">
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Product Title</label>
                            <input class="border rounded-md p-2 w-full" type="text" name="edit_product_name" id="edit-product-name">
                            <span id="edit-product-nameerror" class="text-xs text-red-500 hidden">title cannot be empty !</span>
                            <label class="block my-2 text-[#00000080]" for="" >Description</label>
                            <textarea class="border rounded-md p-2 w-full h-52" type="text" name="edit_product_description" id="edit-product-description"></textarea>
                            <span id="edit-product-descriptionerror" class="text-xs text-red-500 hidden">description cannot be empty !</span>
                        </div>
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Specifications</label>
                            <div class="flex gap-2">
                                <input id="edit-spec-title" class="p-2 border rounded-md" type="text" placeholder="Enter Feature">
                                <input id="edit-spec-value" class="p-2 border rounded-md" type="text" placeholder="Enter Value">
                                <button type="button" onclick="editToSpecs()" class="bg-blue-500 text-white rounded-md px-2">Submit</button>
                            </div>
                            
                            <label class="block my-2 text-[#00000080]" for="">Specifications-List</label>
                            <input value="" type="text" class="hidden" name="edit_product_speclist" id="edit-product-speclist">
                            <div id="edit-spec-list" class="border rounded-md p-2 w-full min-h-16 overflow-scroll flex flex-wrap gap-3 mb-2">

                                

                            </div>
                            <span id="edit-product-speclisterror" class="text-xs text-red-500 hidden">feature already exists !</span>
                        </div>
                    </div>
                    
                    
                    <label class="block my-2 text-[#00000080]" for="">Images</label>
                    <!-- images -->
                    <div id="edit-product-image-preview-container" class="w-full flex gap-5">
                        
                        <label for="edit-product-upload" class="flex flex-col items-center justify-center w-max h-36 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div id="edit-product-preview-div" class="hidden justify-center items-center w-full p-5" >
                                <img id="edit-product-preview" class="h-28" src="/images/iphone.png" alt="image">    
                            </div>
                            <div id="edit-product-upload-div" class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            <input id="edit-product-upload" name="edit-product-upload" type="file"  class="hidden" />
                        </label>
                    </div>
                    <input id="edit-product-id" name="id" type="hidden">
                    <span id="edit-product-imageerror" class="text-xs text-red-500 hidden">image cannot be empty !</span>
                    <!-- category & subcategory -->
                    <div class="w-full flex gap-5">
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Seller</label>
                            <input class="border rounded-md p-2 w-full" type="text" name="edit_product_seller" id="edit-product-seller">
                            <span id="edit-product-sellererror" class="text-xs text-red-500 hidden">seller cannot be empty !</span>
                        </div>
                        
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Category</label>
                            <select class="border rounded-md p-3 text-gray-500 w-full" name="edit_product_category" id="edit-product-category">
                                <%
                                for (var j = 0; j < category.length; j++){
                                    %><option value="<%= category[j].name %>"><%= category[j].name %><%
                                }
                                %>
                            </select>
                        </div>
                        
                    </div>
                    <!-- price -->
                    <div class="w-full flex gap-5">
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Regular Price</label>
                            <input class="border rounded-md p-2 w-full" type="number" id="edit-product-price" name="edit_product_price">
                            <span id="edit-product-priceerror" class="text-xs text-red-500 hidden">price cannot be empty !</span>
                            
                        </div>
                        
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Discount Percentage</label>
                            <input class="border rounded-md p-2 w-full" type="number" id="edit-product-discount" name="edit_product_discount">
                            <span id="edit-product-discounterror" class="text-xs text-red-500 hidden">discount percentage cannot be empty !span>
                        </div>
                        
                        
                        
                    </div>
                    <!--stock status & quantity -->
                    <div class="w-full flex gap-5">
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Stock Status</label>
                            <select class="border rounded-md p-3 text-gray-500 w-full" name="edit_product_status" id="edit-product-status">
                                <option value="In Stock">In Stock</option>
                                <option value="Out of Stock">Out of Stock</option>
                                
                            </select>
                            
                        </div>
                        <div class="w-full">
                            <label class="block my-2 text-[#00000080]" for="">Quantity</label>
                            <input class="border rounded-md p-2 w-full" type="number" name="edit_product_quantity" id="edit-product-quantity">
                            <span id="edit-product-quantityerror" class="text-xs text-red-500 hidden">quantity cannot be empty !</span>
                        </div>
                        
                        
                    </div>
                    <div class="flex justify-end mt-6">
                        <button onclick="return validateEditProduct()" type="submit" value="submit" class="rounded-md bg-blue-500 text-white text-sm p-3 w-1/2">
                            Update Details
                        </button>
                    </div>
                    
                </form>
                <button type="button" onclick="productPopupEdit()" class=" material-symbols-outlined h-[30px] w-[30px] rounded-full text-gray-500 border-gray-500 border-2 absolute top-5 right-5">
                    close
                </button>
            </div>
            
                
                
            
        </div>
    </div>
    
</div>
