<div class="w-full">
    <div class="flex shadow-lg shadow-gray-200 bg-white p-3 gap-5 w-full">
        <div class="flex gap-5 w-full">
            <button class="material-symbols-outlined text-gray-500">
                arrow_back
            </button>
            <input class="w-full" type="text" placeholder="Search Products...">
            <button class="material-symbols-outlined text-gray-500">
                search
            </button>
        </div>
        
    </div>
</div>