<div>
    <div>
        <h3 class="text-xl font-medium mb-2">Enter OTP</h3>
        <h4 class="text-gray-400 text-sm">We have sent an OTP to your phone number</h4>
        <span class="text-gray-400 text-sm">Phone Number &nbsp:  </span><span class="text-gray-400 text-sm">&nbsp 9567983967</span><span class="text-blue-400 font-medium">&nbsp Edit</span>
    </div>

    <!-- otp --> 
    <div class="w-full flex mt-6 gap-3">
        
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">
        <input class="border-2 rounded-lg w-full py-3 text-center" type="number">

        
        
    </div>
</div>