<div id="logout" class="transition ease-out duration-3000 px-4 w-full hidden justify-center items-center fixed inset-0 z-50 bg-[rgba(0,0,0,0.2)]">
    <script src="/javascript/user/profile.js"></script>
    <div class=" bg-white w-full rounded-xl relative">

        <div class="px-4 pb-5">
            <div class="border-b-2 mt-4 pb-2">
                <span class="font-medium text-xl">Logout</span>
            </div>
            <input type="hidden" name="" id="sort-category" value="">
            <div class="mt-4 ">
                <span class="text-lg font-medium">Are you sure you want to logout ?</span>
                <div class="flex gap-4 w-full mt-4">
                    <form class="w-full" action="/home/logout" method="post">
                        <button class="border-2 p-2.5 w-full rounded-lg ">
                            <span class="text-gray-500 text-lg">Logout</span>
                        </button>
                    </form>
                    
                    <button onclick="closeLogout()" class="bg-blue-500 p-2.5 w-full rounded-lg ">
                        <span class="text-white text-lg">Stay Logged In</span>
                    </button>
                </div>
            </div>
            
        </div>
        <button  type="button" onclick="closeLogout()" class=" text-lg flex justify-center items-center material-symbols-outlined h-[25px] w-[25px] rounded-full text-gray-500 border-gray-500 border-2 absolute top-3 right-3">
            close
        </button>

    </div>
</div>
