<div class="my-3 ">
    <span class="text-sm font-medium md:text-base">Payment Details</span>
    <div class="flex border-b-[1px] justify-between pb-[0.1em] mt-1 md:mt-4">
        <span class="text-sm md:text-base">MRP Total</span>
        <span id="paymentdetails-totalamount" class="text-sm md:text-base">₹<%=payment.total_amount%>.00</span>
    </div>
    <div class="flex border-b-[1px] justify-between pb-[0.1em] mt-1">
        <span class="text-sm md:text-base">Product Discount</span>
        <span id="paymentdetails-discount" class="text-sm text-green-500 md:text-base">-₹<%=payment.total_discount%>.00</span>
    </div>
    <div class="flex border-b-[1px] justify-between pb-[0.1em] mt-1">
        <span class="text-sm md:text-base">Delivery Fee</span>
        <div>
            <span class="text-sm text-green-500 md:text-base">FREE</span>
            <span class="text-sm text-gray-500 md:text-base"><s>₹40.00</s></span>
        </div>
        

    </div>
    <div class="flex border-b-[1px] justify-between pb-[0.1em] mt-1">
        <span class="text-sm md:text-base">Total</span>
        <span id="paymentdetails-total" class="text-sm md:text-base">₹<%=payment.total%>.00</span>
    </div>
    <div class="flex justify-end mt-1">
        <span id="paymentdetails-saving" class="text-xs text-green-500 md:text-sm">You save ₹<%=payment.total_discount%>.00</span>
        
    </div>
</div>
